body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: rgb(54, 189, 14);
  padding-top: 20px;
  font-size: 24px;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  border: 1px solid transparent;
  width: 474px;
  background: #fff;
  padding: 20px;
  border-radius: 28px;
  box-shadow: 21px 21px 41px #bebebe, -21px -21px 41px #ffffff;
}

.input,
.signUpbtn,
#btn {
  width: 90%; /* Full width inputs and buttons */
  padding: 12px 20px;
  margin: 8px 0;
  display: block; /* Ensures full width usage */
  border: 1px solid #ccc; /* Subtle borders */
  border-radius: 4px; /* Consistent rounded corners */
  box-sizing: border-box; /* Border box sizing */
}

.signUpbtn,
#btn {
  background-color: rgb(54, 189, 14);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block; /* Aligns button text properly */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.signUpbtn:hover,
#btn:hover {
  background-color: #3fa116;
}

.signUpbtn a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #666;
  font-size: 1rem;
}

#error-element {
  background-color: #f44336;
  color: white;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  z-index: 1001;
  display: none;
}

.input.warning {
  border-color: rgb(244, 88, 119);
}

.warningforPassword {
  border-color: rgb(244, 88, 119);
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  display: none;
}

.loader.show {
  display: flex;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
